extends layout

block content
  

  
  div(class="loginbox")
    img(src="/images/images.png", alt="" class="avatar")
    //- p= Iniciar sesi칩n
    form(action="http://localhost:3000/", method="post")
      //- h1=Iniciar Sesi칩n
      p=Usuario
      input(type="text" name="Nombre" id="nombre" placeholder="Nombre")

      
      input(type="password", name="password" id="password" placeholder="Contrase침a")

      input(type="submit" value="Inciar Sesi칩n")

      if message !=null
       p=message
  

 
